.about-me {
  height: 95vh;
  margin-top: 5vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div, img {
    padding: 20px;
  }

  div {
    flex: 1 1 50%;
  }

  img {
    flex: 0 0 auto;
  }
}