header {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(192, 192, 192, 0.5);

  a {
    text-decoration: none;
  }

  .title {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
  }

  .navigation {
    flex: 3 1 auto;
    display: flex;
    justify-content: space-around;
  }

  .social {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
  }
}
