<header class="wrapper">
  <nav class="flex-nav">
    <ul>
      <li class="title">
        <a [routerLink]="title.link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: title.exact }">
          {{ title.name }}
        </a>
      </li>
      <li *ngFor="let item of nav" class="nav">
        <a [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: item.exact }">
          {{ item.name }}
        </a>
      </li>
      <li *ngFor="let item of social" class="social">
        <a [href]="item.link">
          <i class="fa fa-{{item.icon}}" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>